@import '../../../../../assets/variables.scss';

.h2 {
    background-color: $secondary-color;
    padding: 10px 25px;
    h2 {
      font-weight: 700;
      color: $primary-color;
      font-size: 2.8rem;
      @media (max-width: $sm) {
        font-size: 2rem;
      }
    }
  }