@import '../../../../assets/variables.scss';
.breed {
  margin: 45px 10px;
  padding: 0;
  width: 100%;
  height: 100%;
  margin-top: 45px;
  margin-bottom: 45px;
  background-color: white;
  border: 1px solid $secondary-color;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 4px 5px 6px 0px rgba(0,0,0,0.15);
  .h2 {
    background-color: $secondary-color;
    padding: 10px 25px;
    h2 {
      font-weight: 700;
      color: $primary-color;
      font-size: 2.8rem;
      @media (max-width: $sm) {
        font-size: 2rem;
      }
    }
  }
  .pagination_container {
    margin: 0;
    text-align: center;
    a {
      margin: 15px;
      color: $primary-color;

      @media (max-width: $sm) {
        margin: 12px;
        font-size: 1.8rem;
      }

      &:hover {
        color: #f7f2e7;
        text-decoration: none;
      }
    }
    .disabled {
      color: lighten($primary-color, 25);
    }
    .active {
      color: white;
    }
  }
}
