@import '../../../../assets/variables.scss';

.pagination_container {
    margin: 0;
    text-align: center;
    a {
      margin: 15px;
      color: $primary-color;
      cursor: pointer;

      @media (max-width: $sm) {
        margin: 12px;
        font-size: 1.8rem;
      }

      &:hover {
        color: #f7f2e7;
        text-decoration: none;
      }
    }
    .disabled {
      color: lighten($primary-color, 25);
      pointer-events: none;
      cursor: initial;
    }
    .active {
      color: white;
    }
  }