@import '../../assets/variables.scss';

footer {
  height: 60px;
  width: 100vw;
  background-color: $primary-color;
  color: white;
  position: fixed;
  bottom: 0;
  @media (max-width: $lg) {
    position: relative;
    width: auto;
  }
  @media (max-width: $md) {
    height: 80px;
  }

  .container1 {
    height: 100%;
    width: 74vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    @media (max-width: $xxl) {
      width: 90vw;
    }
    @media (max-width: $xl) {
      width: 90vw;
    }
    @media (max-width: $lg) {
      width: 85vw;
    }
    @media (max-width: $md) {
      flex-direction: column;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
  
}